In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import matplotlib.pyplot as plt

In [4]:
import seaborn as sns

In [5]:
%matplotlib inline

In [6]:
df = pd.read_csv('advertising.csv')

In [7]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [8]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [9]:
df.shape

(200, 4)

In [10]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [13]:
x = df.drop('Sales',axis=1)

In [14]:
y = df['Sales']

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=.30,random_state=101)

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
lr = LinearRegression()

In [20]:
lr.fit(xtrain,ytrain)

LinearRegression()

In [21]:
y_pred = lr.predict(xtest)

In [22]:
y_pred

array([13.9135865 , 21.62343243, 12.55005536, 15.63103677,  9.09302258,
        7.36166823, 22.16816235, 19.01730616, 12.5403485 , 20.1958892 ,
       11.11003915, 16.00478644, 17.18905675, 20.64733809, 18.73126496,
        9.83559653, 19.38504198, 10.04559423,  8.5846359 , 21.13742066,
        7.85466978, 18.20668736, 24.98984844, 23.37377505,  9.48472574,
       15.78159162, 23.83233016,  9.00279152, 14.76422844, 10.22546576,
        9.42584326, 20.14570699, 12.53758192,  6.84104318, 17.82338233,
        9.99895594, 10.60349364, 10.34231459,  9.08661201, 13.51673678,
       11.70916589, 12.40929764, 11.34601326,  7.77913091, 11.66495504,
       10.61497748,  8.19540167, 18.58328863, 15.43408923, 20.31281347,
       11.15187972, 16.80304378, 21.0466453 , 12.69609768, 15.80981534,
        6.142007  , 24.10975006, 11.31786524, 21.45998282, 16.56943553])

In [23]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [26]:
print('MSE =',mean_squared_error(ytest,y_pred))

MSE = 2.8685706338964962

In [27]:
print('MAE =',mean_absolute_error(ytest,y_pred))

MAE = 1.3731200698367851

In [28]:
print('RMSE =',np.sqrt(mean_squared_error(ytest,y_pred)))

RMSE = 1.6936855180040054

In [30]:
print('R =',r2_score(ytest,y_pred))

R = 0.8972649704616219

In [33]:
lr.score(xtest,ytest)*100

89.7264970461622