In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('supershops.csv - supershops.csv.csv')

In [30]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [4]:
df.shape

(50, 5)

In [5]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()
df4 = df.copy()

# Normalization

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
m = MinMaxScaler()

In [8]:
df1['Marketing Spend'] = m.fit_transform(df1[['Marketing Spend']])

In [9]:
df1['Administration'] = m.fit_transform(df1[['Administration']])

In [10]:
df1['Transport'] = m.fit_transform(df1[['Transport']])

In [11]:
df1.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.692617        0.651744   1.000000    Dhaka  192261.83
1         0.983359        0.761972   0.940893      Ctg  191792.06
2         0.927985        0.379579   0.864664  Rangpur  191050.39
3         0.873136        0.512998   0.812235    Dhaka  182901.99
4         0.859438        0.305328   0.776136  Rangpur  166187.94

# Standarization

In [12]:
from sklearn.preprocessing import StandardScaler

In [13]:
s = StandardScaler()

In [14]:
df2['Marketing Spend'] = s.fit_transform(df2[['Marketing Spend']])

In [15]:
df2['Administration'] = s.fit_transform(df2[['Administration']])

In [16]:
df2['Transport'] = m.fit_transform(df2[['Transport']])

In [17]:
df2.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   1.000000    Dhaka  192261.83
1         1.955860        1.082807   0.940893      Ctg  191792.06
2         1.754364       -0.728257   0.864664  Rangpur  191050.39
3         1.554784       -0.096365   0.812235    Dhaka  182901.99
4         1.504937       -1.079919   0.776136  Rangpur  166187.94

# MaxAbsScaler

In [18]:
from sklearn.preprocessing import MaxAbsScaler

In [19]:
ms = MaxAbsScaler()

In [20]:
df3['Marketing Spend'] = s.fit_transform(df3[['Marketing Spend']])

In [21]:
df3['Administration'] = s.fit_transform(df3[['Administration']])

In [22]:
df3['Transport'] = m.fit_transform(df3[['Transport']])

In [23]:
df3.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   1.000000    Dhaka  192261.83
1         1.955860        1.082807   0.940893      Ctg  191792.06
2         1.754364       -0.728257   0.864664  Rangpur  191050.39
3         1.554784       -0.096365   0.812235    Dhaka  182901.99
4         1.504937       -1.079919   0.776136  Rangpur  166187.94

# RobustScaler

In [24]:
from sklearn.preprocessing import RobustScaler

In [25]:
rs = RobustScaler()

In [26]:
df4['Marketing Spend'] = s.fit_transform(df4[['Marketing Spend']])

In [27]:
df4['Administration'] = s.fit_transform(df4[['Administration']])

In [28]:
df4['Transport'] = m.fit_transform(df4[['Transport']])

In [29]:
df4.head()

   Marketing Spend  Administration  Transport     Area     Profit
0         0.897913        0.560753   1.000000    Dhaka  192261.83
1         1.955860        1.082807   0.940893      Ctg  191792.06
2         1.754364       -0.728257   0.864664  Rangpur  191050.39
3         1.554784       -0.096365   0.812235    Dhaka  182901.99
4         1.504937       -1.079919   0.776136  Rangpur  166187.94