In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('car data.csv')

In [3]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
df.shape

(301, 9)

In [5]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [6]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [7]:
df.value_counts('Fuel_Type')

Fuel_Type
Petrol    239
Diesel     60
CNG         2
dtype: int64

In [8]:
df.value_counts('Seller_Type')

Seller_Type
Dealer        195
Individual    106
dtype: int64

In [9]:
df.value_counts('Transmission')

Transmission
Manual       261
Automatic     40
dtype: int64

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le = LabelEncoder()

In [12]:
df['Transmission'] = le.fit_transform(df['Transmission'])

In [13]:
df['Seller_Type'] = le.fit_transform(df['Seller_Type'])

In [14]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,0,1,0
1,sx4,2013,4.75,9.54,43000,Diesel,0,1,0
2,ciaz,2017,7.25,9.85,6900,Petrol,0,1,0
3,wagon r,2011,2.85,4.15,5200,Petrol,0,1,0
4,swift,2014,4.60,6.87,42450,Diesel,0,1,0

In [15]:
dummy = pd.get_dummies(df['Fuel_Type'],drop_first=True)

In [16]:
dummy

     Diesel  Petrol
0         0       1
1         1       0
2         0       1
3         0       1
4         1       0
..      ...     ...
296       1       0
297       0       1
298       0       1
299       1       0
300       0       1

[301 rows x 2 columns]

In [17]:
df = pd.concat([dummy,df],axis=1)

In [18]:
df.head()

,Diesel,Petrol,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,0,1,ritz,2014,3.35,5.59,27000,Petrol,0,1,0
1,1,0,sx4,2013,4.75,9.54,43000,Diesel,0,1,0
2,0,1,ciaz,2017,7.25,9.85,6900,Petrol,0,1,0
3,0,1,wagon r,2011,2.85,4.15,5200,Petrol,0,1,0
4,1,0,swift,2014,4.60,6.87,42450,Diesel,0,1,0

In [19]:
df = df.drop(['Car_Name','Fuel_Type'],axis=1)

In [20]:
df.head()

,Diesel,Petrol,Year,Selling_Price,Present_Price,Kms_Driven,Seller_Type,Transmission,Owner
0,0,1,2014,3.35,5.59,27000,0,1,0
1,1,0,2013,4.75,9.54,43000,0,1,0
2,0,1,2017,7.25,9.85,6900,0,1,0
3,0,1,2011,2.85,4.15,5200,0,1,0
4,1,0,2014,4.60,6.87,42450,0,1,0

In [21]:
y = df['Selling_Price']

In [22]:
x = df.drop('Selling_Price',axis=1)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size = .30, random_state=2)

In [25]:
from sklearn.linear_model import LinearRegression

In [26]:
lr = LinearRegression()

In [27]:
lr.fit(x_train,y_train)

LinearRegression()

In [28]:
y_pred = lr.predict(x_test)

In [29]:
y_pred

array([10.71621521,  0.76153173,  4.24331532,  5.44491544,  9.84492724,
        4.2139907 ,  2.66738563,  7.85958598,  0.22134524,  5.12527913,
        6.12714594,  6.69395023,  2.33111234,  7.60107216,  1.96030172,
        1.74882609,  2.05693732,  1.88699297,  9.75191345,  4.24308256,
        1.51427687,  9.54613688,  1.4986914 ,  9.64496202,  0.87106486,
        8.53481881,  1.57296849, -3.14316989,  4.23047535,  2.14293545,
        3.62125036,  3.73657643,  5.53376407,  7.61972411, -1.82610866,
        7.29571847,  8.67442404,  5.76533649,  6.07633385,  6.76580158,
       16.27500729,  2.10327757,  1.0962102 , -0.39252409,  7.30415679,
        6.7026634 ,  1.02919782,  7.31888859, 14.1667026 ,  3.03866392,
        8.50006363, -0.81956319,  8.7812273 ,  1.19045945,  2.14667326,
       -0.76347834,  0.73740225,  9.93739305, -0.3997044 , -2.33277392,
       10.45014953,  6.70185245,  0.99471407,  4.34493155,  0.08326884,
        3.68624792,  2.82885951,  1.46883268,  0.46375649,  1.6482714 ,
        1.16988389,  4.30052717,  6.71053446,  0.9671453 ,  0.68632793,
        6.67517279,  3.6195126 ,  2.34851874,  7.5971599 ,  4.56862004,
        4.41868164,  4.92013575,  2.75757791,  4.43306357,  1.73769348,
        0.30038905,  3.95677835,  1.42869351,  4.56804079,  1.4166999 ,
        7.80553935])

In [30]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [31]:
print('MSE =',mean_squared_error(y_test,y_pred))

MSE = 2.5354633547388445

In [32]:
print('MAE =',mean_absolute_error(y_test,y_pred))

MAE = 1.1971541777665675

In [33]:
print('RMSE =',np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE = 1.5923138367604688

In [34]:
print('R =',r2_score(y_test,y_pred))

R = 0.824267290744188

# Lesso Regression

In [35]:
from sklearn.linear_model import Lasso

In [36]:
l = Lasso()

In [37]:
l.fit(x_train,y_train)

Lasso()

In [38]:
y_pred = l.predict(x_test)

In [39]:
y_pred

array([ 9.81351683,  1.50329869,  4.40862421,  3.22633175,  8.97220975,
        4.33936499,  3.75921255,  5.74157098,  0.97068483,  5.32691649,
        6.52169919,  4.47777436,  1.37021513,  8.30647428,  2.05028416,
        2.41360783,  2.68051422,  2.48234568,  8.07606501,  4.28730752,
        2.38383541,  7.94127405,  2.13423748,  8.63921337,  1.61094172,
        6.57334415,  2.23337628, -1.2193553 ,  4.10655953,  2.18645887,
        2.53623802,  3.65842825,  5.68316207,  8.32372818, -0.84246452,
        5.329921  ,  6.57904326,  5.8336229 ,  6.4746957 ,  4.84847147,
       15.57925017,  2.72338106,  1.77067176,  0.48820353,  5.27397263,
        6.96636257,  1.72974857,  5.35135442, 13.93096641,  2.96890935,
        6.54119402,  0.09021714, 10.00201262,  1.89062643,  2.77288686,
        0.11427374,  1.4592093 , 10.05408904,  0.46985792, -1.32663149,
        9.0221302 ,  6.9656124 ,  2.86313637,  4.1065499 ,  0.91256384,
        3.08581036,  2.71397248,  2.22420714,  1.28036187,  2.3030349 ,
        1.8739338 ,  4.46622919,  4.33807397,  1.68639137,  2.61071828,
        4.45104156,  2.53463051,  3.02046134,  6.14802436,  5.0360139 ,
        4.48485518,  3.67754295,  2.7679648 ,  4.47475211,  2.45597543,
        1.10466218,  3.79720051,  1.51109325,  5.03547807,  2.17598194,
        6.17949197])

In [40]:
print('R =',r2_score(y_test,y_pred))

R = 0.8427904248102841